<%= form_for @distribution, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :site, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :site, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :population, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :population, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :customer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                distributions_path, :class => 'btn' %>
  </div>
<% end %>
