<%- model_class = Distribution.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:site) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:population) %></th>
      <th><%= model_class.human_attribute_name(:customer) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @distributions.each do |distribution| %>
      <tr>
        <td><%= distribution.site %></td>
        <td><%= distribution.age %></td>
        <td><%= distribution.population %></td>
        <td><%= distribution.customer %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_distribution_path(distribution), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      distribution_path(distribution),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_distribution_path,
            :class => 'btn btn-primary' %>
