<h1>Listing trackings</h1>

<%= link_to 'New Tracking', new_tracking_path %>
<table>
  <tr>
  	<th colspan="2">&nbsp;</th>
  	<th colspan="3" class="import">Import</th>
  	<th>&nbsp;</th>
  </tr>
  <tr>
    <th class="file">File</th>
    <th class="type">Type</th>
    <th class="time">[queue]</th>
    <th class="time">[start]</th>
    <th class="time">[complete]</th>
    <th class="notes">Notes</th>
  </tr>

<% @trackings.each do |tracking| %>
  <tr class="<%= cycle("data", "datab") %>">
    <td><%= tracking.sourcefile %></td>
    <td><%= tracking.filetype %></td>
    <td><%= tracking.importqueue.in_time_zone("Eastern Time (US & Canada)").strftime '%m-%d-%Y %H:%M:%S' %></td>
    <td><%= tracking.importstart.try(:in_time_zone, "Eastern Time (US & Canada)").try(:strftime, '%m-%d-%Y %H:%M:%S') %></td>
    <td><%= tracking.importcomplete.try(:in_time_zone, "Eastern Time (US & Canada)").try(:strftime, '%m-%d-%Y %H:%M:%S') %></td>
    <td><%= tracking.notes %></td>
  </tr>
<% end %>
</table>

<br />


